In [3]:
import sqlite3
import pandas as pd

cnx = sqlite3.connect('logs(6).sqlite3')

df = pd.read_sql_query("SELECT * FROM sessioninformation", cnx)

In [23]:
session_ids = df.tail(9)
session_ids

,id,participant_uuid,session_location,agent_type,interaction_type,domain
8,9,GH23062023,SBU,Hybrid,QT,Holiday_Demo
9,10,GH23062023,SBU,Solver,QT,Holiday_A
10,11,GH23062023,SBU,Solver,Nao,Holiday_B
11,12,RB23062023,SBU,Hybrid,Nao,Holiday_Demo
12,13,RB23062023,SBU,Solver,Nao,Holiday_A
13,14,RB23062023,SBU,Solver,QT,Holiday_B
14,15,RA23062023,SBU,Hybrid,QT,Holiday_Demo
15,16,RA23062023,SBU,Solver,QT,Holiday_B
16,17,RA23062023,SBU,Solver,Nao,Holiday_A

In [26]:
summary_df = pd.read_sql_query("SELECT * FROM sessionsummary", cnx)
summary_df.head(1)

,id,session_id,is_agreement,final_scaled_time,final_agent_score,final_user_score,total_offers,human_awareness,sensitivity_analysis,robot_moods
0,1,1,1,0.412603,0.7,0.45,21,0.857143,"{""silent"": 0.1, ""nice"": 0, ""fortunate"": 0.1, ""...","{""null"": 1, ""Frustrated"": 3, ""Annoyed"": 0, ""Di..."

In [30]:
summary_df.loc[summary_df.session_id.isin(session_ids.id)].reset_index().drop(columns=["index", "id"]).to_excel("summaries_test.xlsx")

In [38]:
offer_history_df = pd.read_sql_query("SELECT * FROM sessionofferhistory", cnx)
group_items = offer_history_df.loc[offer_history_df.session_id.isin(df.id)].groupby(offer_history_df.session_id)

for group in group_items.groups:
    print(group_items.get_group(group).to_excel(f"session_id{group}_history.xlsx"))

None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [42]:
solver_history_df = pd.read_sql_query("SELECT * FROM solveragentlogs", cnx)
group_items = solver_history_df.loc[solver_history_df.session_id.isin(df.id)].groupby(solver_history_df.session_id)
for group in group_items.groups:
    print(group_items.get_group(group).to_excel(f"solver_id{group}_history.xlsx"))

None
None
None
None
None
None
None
None